In [3]:
import pandas as pd

In [8]:
dr = pd.date_range('1/10/2021', '29/10/2021')
dr

DatetimeIndex(['2021-01-10', '2021-01-11', '2021-01-12', '2021-01-13',
               '2021-01-14', '2021-01-15', '2021-01-16', '2021-01-17',
               '2021-01-18', '2021-01-19',
               ...
               '2021-10-20', '2021-10-21', '2021-10-22', '2021-10-23',
               '2021-10-24', '2021-10-25', '2021-10-26', '2021-10-27',
               '2021-10-28', '2021-10-29'],
              dtype='datetime64[ns]', length=293, freq='D')

In [13]:
df = pd.DataFrame(dr, columns = ['name'])
df

          name
0   2021-01-10
1   2021-01-11
2   2021-01-12
3   2021-01-13
4   2021-01-14
..         ...
288 2021-10-25
289 2021-10-26
290 2021-10-27
291 2021-10-28
292 2021-10-29

[293 rows x 1 columns]

In [5]:
import sqlite3

In [19]:
con = sqlite3.connect('D:\IT\PR\locallibrary\db.sqlite3')

In [22]:
df.to_sql('catalog_dates',con,index=True,if_exists='replace')

In [20]:
df2 = pd.read_sql('select * from catalog_book', con)
df2

,id,title,summary,isbn,author_id
0,1,Администрирование сетей Cisco. Освоение за месяц,Для удаления книги из этого списка выберите че...,456487544,1
1,2,Python. к вершинам мастерства,"Вы можете редактировать книгу, кликнув по ссыл...",785468789,2
2,3,"Изучаем Python. Программирование игр, визуализ...",Руководство по языку Python c многочисленными ...,458795,3
3,4,Изучаем Python,Классический учебник Python со всесторонним гл...,659811445,4
4,5,C# для чайников,Даже если вы никогда не имели дела с программи...,55897895,5
5,6,C# 7 и .NET Core. Кросс-платформенная разработ...,Книга представляет собой скорее обзор платформ...,7711254,6
6,7,Чистый Python. Тонкости программирования для п...,Словосочетание «для профи» – выдумка российски...,89872258,4